/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$cream: #FCF2E0;
$grey: #93A8AC;
$darkblue: #001D39;
$grey2: #637275;
$lightblue: #A5BEFF;
$grey3: #C3C1CA;
$orange: #FC9E47;
$grey4: #F8F8FA;