/* =============
    Typography
============= */
body{
    font-family: 'Libre Franklin', sans-serif; 

    h1{
        font-weight: 400;
        font-size: 23.52px;
        color: $cream;
        @include lg{
            font-size: 33.6px;
            
        }
    }

    .topnav{
        font-weight: 400;
        font-size: 16px;
        color: $grey;
        @include md{
            font-size: 30px;
        }
        @include lg{
            font-size: 35px;

        }
    }
    h2{
        font-weight: 700;
        font-size: 18px;
        color: $darkblue;
        @include lg{
            font-size: 25px;
            
        }
    }

    .section1{
        .sec2{
            font-weight: 700;
            font-size: 16px;
            color: $darkblue;
        }
    }
    h3{
        font-weight: 400;
        font-size: 22px;
        color: $darkblue;
        @include md{
            font-size: 29px;
        }
        @include lg{
            font-size: 31px;
        }
    }
    button{
        font-weight: 700;
        font-size: 14px;
    }

    .wwd{
        font-weight: 400;
        font-size: 20px;
        color: $grey2;
        @include md{
            font-size: 28px;
        }
        @include lg{
            font-size: 37px;
        }
    }
    h5{
        font-weight: 700;
        font-size: 27px;
        color: $black;
    }
    .what{
        p{
            font-weight: 400;
            font-size: 15px;
            color: $black;
        }
    }
    h4{
        font-weight: 700;
        font-size: 20px;
        color: $lightblue;
    }
    .state{
        font-weight: 700;
        font-size: 16px;
        color: $lightblue;
    }
    .addy{
        font-weight: 400;
        font-size: 12px;
        color: $grey3;
    }
    .number{
        font-weight: 400;
        font-size: 12px;
        color: $grey3;
    }
}