/* =============
    Hero
============= */


.hero{
    .hero4{
        display: none;
    }
    margin-bottom: 60;
    img{
        display: block;
        width:100%
    }

    @include md{
        display:grid;
        grid-template-columns:  50% 50%;
        grid-template-areas: 
        "hero2 hero3"
        ;
        .hero2{
            grid-area:hero2;
            width:100%

        }
        .hero3{
            grid-area:hero3;
            width:100%

        }
        .hero4{
            grid-area:hero4;
            width:100%
        }

        
    }

    @include xl{
        display:grid;
        grid-template-columns:  50% 50%;
        grid-template-areas: 
        "hero2 hero3"
        "hero2 hero4"
        ;
        .hero4{
            display: block;
            grid-area:hero4;
            width:100%
        }
    
}
}