/* =============
    section1
============= */
.section1{
    @include md{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "sec1 sec2"
        ;
        .sec1{
            grid-area:sec1;
        }
            
        .sec2{
            grid-area:sec2;
         }
        
    }
}