/* =============
    section2
============= */
.section2{
    .sec1{
        margin-bottom: 16px;
    }
    .sec2{
        margin-bottom: 30px;
    }
    .content{
        background-color: $lightblue;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "words picture"
        "button picture"

        ;
        h3{
            grid-area:words;
        }
        button{
            grid-area:button;
        }
        div{
            grid-area:picture;
        }
    }
    .pic{
        img{
            width:100px;
     }
    }
    @include md{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "sec1 sec2"
        ;
        .sec1{
            grid-area:sec1;
        }
            
        .sec2{
            grid-area:sec2;
         }
        
    }
    @include xl{
        padding-left: 225px;
        padding-right: 225px;
    }
    }
