/* =============
    section2
============= */
.what{
    .article-container1{
        margin-bottom: 19px;
    }
    .article-container2{
        margin-bottom: 19px;
    }
    .article-container3{
        margin-bottom: 19px;
    }
    .article-container4{
        margin-bottom: 19px;
    }
    .article-container5{
        margin-bottom: 41px;
    }
    .container{
        background-color:  $grey4;
    }
    img{
            display:block;
            width:100%
            
     }
     .article-container2{
         img{ height: 296px;}
     }
     @include md{
        padding-left: 16px;
        padding-left: 16px;
        display:grid;
        grid-template-columns:  25% 25% 25% 25%;
        grid-template-areas: 
        "a1 a1 a2 a2"
        "a3 a3 a4 a4"
        ". a5 a5 ."
        ;
        .article-container1{
            padding-left: 10px;
            padding-right: 10px;
            grid-area:a1;
            width:100%

        }
        .article-container2{
            padding-left: 10px;
            padding-right: 10px;
            grid-area:a2;
            width:100%

        }
        .article-container3{
            padding-left: 10px;
            padding-right: 10px;
            grid-area:a3;
            width:100%

        }
        .article-container4{
            padding-left: 10px;
            padding-right: 10px;
            grid-area:a4;
            width:100%

        }
        .article-container5{
            padding-left: 10px;
            padding-right: 10px;
            grid-area:a5;
            width:100%

        }
     @include lg{
        display:grid;
        grid-template-columns:  16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        grid-template-areas: 
        "a1 a1 a2 a2 a3 a3"
        ". a4 a4 a5 a5 ."
    
        
}
}
@include xl{
    padding-left: 223px;
    padding-right: 223px;
}
}