/* =============
    Footer
============= */
footer{
    background-color: $darkblue;
}
.location{
    
    .sec1{
        border-style: solid;
        border-bottom: 100px black solid;
        }

    display:grid;
        grid-template-columns:10% auto;
        grid-template-areas:
        "state ."
        "arrow addy"
        "phone number"
        ;
        .state{
            grid-area:state;
        }
        .arrow{
            grid-area:arrow;
            max-width:20.48px;
        }
        .addy{
            grid-area:addy;
        }
        .phone{
            grid-area:phone;
            max-width: 16px;
        }
        .number{
            grid-area:number;
            
        }
    }

.row{
    display:grid;
        grid-template-columns:25% 25% 25% 25%;
}

footer{
    .sec1{
        border-bottom: 5px $grey5;
    }
    .footer-sub-section-follow{
        img{
            width: 22.4px;
        }
    }

    @include md{
        display:grid;
        grid-template-columns:  50% 50%;
        grid-template-areas: 
        "loc news"
        "loc follow"
        ;
        .footer-sub-section-loc{
            grid-area:loc;
            width:100%

        }
        .footer-sub-section-news{
            grid-area:news;
            width:100%

        }
        .footer-sub-section-follow{
            grid-area:follow;
            width:100%

        }
        
    @include lg{
            display:grid;
            grid-template-columns:  33.33% 33.33% 33.33%;
            grid-template-areas: 
            "loc news follow"
        
    }
    
}
}