/* =============
    Header
============= */
header{
    background-color: $darkblue;
    img{
        width: 50px;
    }
    .content{
        display:grid;
        grid-template-columns: 15% auto;
        
    }
}