/* =============
    Buttons
============= */
button{
    background-color: $orange;
    border-style:none;
    width: 98px;
    height: 27px;
}

.searchbar{
    button{
    background-color: $orange;
    border-style:none;
    width: 43px;
    height: 27px;
    }
}